####default log config
###############################################

[loggers]
keys=root
[logger_root]
level=DEBUG
handlers=hand01,hand02,hand03

###############################################
[handlers]
keys=hand01,hand02,hand03
[handler_hand01]
class=logging.UTStreamHandler
level=DEBUG
formatter=colorFormatter
args=(sys.stderr,)

[handler_hand02]
class=logging.ConcurrentRotatingFileHandler
level=DEBUG
formatter=normal
args=("./auto_test.log", "a", 10 * 1024 *1024, 100)

[handler_hand03]
class=logging.HookStreamHandler
level=WARN
formatter=normal
args=(sys.stderr,)


###############################################
[formatters]
keys=normal,colorFormatter

[formatter_normal]
#format=%(asctime)s %(filename)s[line:%(lineno)d] %(levelname)s %(message)s
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=

[formatter_colorFormatter]
class=logging.UTColorFormatter
format=$COLOR%(asctime)s - %(name)s - %(levelname)s - %(message)s

